<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas Imprevistas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f5f5f5;
        }
        
        header {
            text-align: center;
        }
        
        #contenedor-principal {
            display: flex;
            justify-content: space-between;
        }
        
        section {
            width: 45%;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
            position: relative;
        }
        
        form {
            display: flex;
            flex-direction: column;
        }
        
        label {
            margin-top: 10px;
        }
        
        input, select, button {
            margin-top: 5px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
        
        button {
            background-color: #007bff;
            color: white;
            cursor: pointer;
        }
        
        button:hover {
            background-color: #0056b3;
        }

        .boton-guardar, .boton-servicios, .boton-pago {
            margin: 0 10px;           
            padding: 10px 20px;       
            color: white;             
        }

        .boton-container {

            display: flex;              
            justify-content: center;    
            margin-top: 20px;    
            left: 30px;
        }
        
        .boton-pago {
            bottom: 20px;
            left: 390px;
            padding: 10px 20px;
            background-color: #17b824;
            color: white;
        }
        .boton-guardar {
            bottom: 20px;
            left: 390px;
            padding: 10px 20px;
            background-color: #63c2c9;
            color: white;
        }

        
        .boton-servicios {
            bottom: 20px;
            right: 20px;
            padding: 10px 20px;
            background-color: #17a2b8;
            color: white;
        }

        
        #numero-habitacion, #cantidad-habitaciones {
            background-color: #e9ecef;
            cursor: not-allowed;
        }

        .boton-cancelar {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: #ff4d4d; 
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px; 
        }
        
        .boton-cancelar:hover {
            background-color: #e60000; 
        }
        
    </style>

</head>
<body>
    <header>
        <h1>Reservas Imprevistas</h1>
    </header>

    <div id="contenedor-principal">
        <!-- consulta.html -->
        <section id="consulta">
            <h2>Consulta de Habitaciones Disponibles</h2>
            <form id="consulta-form" method="post" action="{% url 'consulta_habitaciones' %}">
                {% csrf_token %}
                <label for="tipo-habitacion">Tipo de Habitación:</label>
                <select id="tipo-habitacion" name="tipo_habitacion" required>
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option value="Simple">Simple</option>
                    <option value="Doble">Doble</option>
                    <option value="Suite">Suite</option>
                </select>
            
                <label for="precio-habitacion">Precio de la Habitación:</label>
                <input type="text" id="precio-habitacion" readonly placeholder="$0.00" 
                       value="{% if habitaciones_form_1 %}{{ habitaciones_form_1.first.precio_habitacion }}{% endif %}">
            
                <label for="numero-habitacion">Número de Habitación Disponible:</label>
                <input type="text" id="numero-habitacion" readonly 
                       value="{% if numeros_habitaciones_form_1 %}{{ numeros_habitaciones_form_1 }}{% else %}No disponible{% endif %}">
            
                <label for="cantidad-habitaciones">Cantidad de Habitaciones Disponibles:</label>
                <input type="text" id="cantidad-habitaciones" readonly 
                       value="{% if habitaciones_form_1 %}{{ habitaciones_form_1.count }}{% else %}0{% endif %}">
            
                <button type="submit" id="buscar-habitaciones">Buscar Habitaciones</button>
            </form>
        </section>

        <!-- Crear Reserva -->
        <section id="crear-reserva">
            <h2>Crear Reserva</h2>
            <form id="reserva-form" method="POST" action="{% url 'calculo_total' %}" >
                {% csrf_token %}
                <div class="form-group">
                    <label for="nombre-cliente">Nombre del Cliente:</label>
                    <input type="text" name="nombre_cliente" id="nombre-cliente" placeholder="Ingrese el nombre" required>
                </div>

                <div class="form-group">
                    <label for="cedula-cliente">Cédula del Cliente:</label>
                    <input type="text" name="cedula_cliente" id="cedula-cliente" placeholder="Ingrese Cédula" required>
                </div>
            
                <div class="form-group">
                    <label for="cantidad-personas">Cantidad de Personas:</label>
                    <input type="number" name="cantidad_personas" id="cantidad-personas" placeholder="Ej. 2" required>
                </div>
                <div class="form-group">
                    <label for="fecha-entrada">Fecha de Entrada:</label>
                    <input type="date" name="fecha_entrada" id="fecha-entrada" required>
                </div>
            
                <div class="form-group">
                    <label for="fecha-salida">Fecha de Salida:</label>
                    <input type="date" name="fecha_salida" id="fecha-salida" required>
                </div>
            
               
            </form>
            
                <form id="consulta-habitaciones-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="tipo-habitacion-consulta">Tipo de Habitación:</label>
                        <select name="tipo_habitacion_consulta" id="tipo-habitacion-consulta" required>
                            <option value="">Seleccione un tipo</option>
                            <option value="Simple" {% if tipo_habitacion == 'Simple' %}selected{% endif %}>Simple</option>
                            <option value="Doble" {% if tipo_habitacion == 'Doble' %}selected{% endif %}>Doble</option>
                            <option value="Suite" {% if tipo_habitacion == 'Suite' %}selected{% endif %}>Suite</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="cantidad-habitaciones-consulta">Cantidad de Habitaciones a Reservar:</label>
                        <input type="number" name="cantidad_habitaciones_consulta" id="cantidad-habitaciones-consulta"
                               placeholder="Ej. 1"
                               value="{{ cantidad_habitaciones }}" required>
                    </div>
                    <div class="form-group">
                        <label for="numero-habitaciones-consulta">Número de Habitaciones Asignadas:</label>
                        <input type="text" name="numero_habitaciones_consulta" id="numero-habitaciones-consulta" 
                               value="{% if numeros_habitaciones_asignadas %}{{ numeros_habitaciones_asignadas }}{% else %}No disponible{% endif %}" 
                               readonly required>
                    </div>
                </form>

                <div class="form-group" method="POST" action="{% url 'calculo_total' %}">
                    <label for="total-pago">Total a Pagar:</label>
                    <input type="number" name="total_pago" id="total-pago" readonly placeholder="0.00" step="0.01" min="0" value="0">
                </div>                
                
        
                    <button type="submit" id="guardar" class="boton-guardar" >Guardar</button>
                    <button type="button" id="servicios-extra" class="boton-servicios">Servicios Extra</button>
                    <button type="button" id="pagar-habitacion" class="boton-pago">Pagar</button>
                    <button type="button" id="cancelar" class="boton-cancelar"><i class="fas fa-trash-alt"></i></button>
  
        </section>        
    </div>


    
    <!-- Mini Factura -->
    <section id="factura" style="display:none;">
        <h2>Factura</h2>
        <p id="detalles-factura">Detalles de la reserva aparecerán aquí...</p>
        <button id="pagar">Confirmar y Pagar</button>
    </section>
    
    <script>
        document.getElementById('servicios-extra').onclick = function() {
            window.location.href = '/servicios/';  
        };
    </script>


    

<!-- JavaScrip para las interacciones de la consulta-->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('tipo-habitacion-consulta').addEventListener('change', enviarConsulta);
        document.getElementById('cantidad-habitaciones-consulta').addEventListener('input', enviarConsulta);
    
        function enviarConsulta() {
            const tipoHabitacion = document.getElementById('tipo-habitacion-consulta').value;
            const cantidadHabitaciones = document.getElementById('cantidad-habitaciones-consulta').value;
    
            if (tipoHabitacion && cantidadHabitaciones && cantidadHabitaciones > 0) {
                const xhr = new XMLHttpRequest();
                xhr.open('POST', '{% url "obtener_habitaciones_disponibles" %}', true);
                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
    
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        const response = JSON.parse(xhr.responseText);
                        document.getElementById('numero-habitaciones-consulta').value = response.numeros_habitaciones_asignadas || "No disponible";
                    }
                };
    
                xhr.send(`tipo_habitacion_consulta=${tipoHabitacion}&cantidad_habitaciones_consulta=${cantidadHabitaciones}`);
            } else {
                document.getElementById('numero-habitaciones-consulta').value = "No disponible";
            }
        }
    });
    

</script>

<!-- Para el calculo -->
<script>
    document.getElementById('consulta-habitaciones-form').addEventListener('input', function() {
        const tipoHabitacion = document.getElementById('tipo-habitacion-consulta').value;
        const cantidadHabitaciones = document.getElementById('cantidad-habitaciones-consulta').value;
        const fechaEntrada = document.getElementById('fecha-entrada').value;
        const fechaSalida = document.getElementById('fecha-salida').value;
    
        if (tipoHabitacion && cantidadHabitaciones && fechaEntrada && fechaSalida) {
            fetch("{% url 'calculo_total' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                body: new URLSearchParams({
                    'tipo_habitacion_consulta': tipoHabitacion,
                    'cantidad_habitaciones_consulta': cantidadHabitaciones,
                    'fecha_entrada': fechaEntrada,
                    'fecha_salida': fechaSalida,
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.total_pago) {
                    document.getElementById('total-pago').value = data.total_pago;
                } else {
                    alert(data.error || "Error al calcular el total.");
                }
            })
            .catch(error => {
                console.error("Error en la solicitud:", error);
            });
        }
    });
    </script>


    <!-- Para el boton GUardar -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#guardar').click(function(e) {
                e.preventDefault(); 

                var data = {
                    'nombre_cliente': $('#nombre-cliente').val(),
                    'cantidad_personas': $('#cantidad-personas').val(),
                    'cantidad_habitaciones_consulta': $('#cantidad-habitaciones-consulta').val(),
                    'tipo_habitacion_consulta': $('#tipo-habitacion-consulta').val(),
                    'numero_habitaciones_consulta': $('#numero-habitaciones-consulta').val(),
                    'fecha_entrada': $('#fecha-entrada').val(),
                    'fecha_salida': $('#fecha-salida').val(),
                    'total_pago': $('#total-pago').val(),
                    'cedula_cliente': $('#cedula-cliente').val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}' 
                };
    

                $.ajax({
                    type: 'POST',
                    url: '{% url "insert" %}',  
                    data: data,
                    success: function(response) {
                        
                        window.location.href = '{% url "index" %}';  
                    },
                    error: function(xhr, status, error) {
                        console.error('Error al guardar la reserva:', error);
                    }
                });
            });
        });
    </script>
    
    



   <!-- Para llamar los datos -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const nombreInput = document.getElementById('nombre-cliente');
            const cedulaInput = document.getElementById('cedula-cliente');
        
            function consultarReserva() {
                const nombreCliente = nombreInput.value;
                const cedulaCliente = cedulaInput.value;
        
                const url = new URL("{% url 'consulta_reserva' %}", window.location.origin);
                if (nombreCliente) url.searchParams.append('nombre_cliente', nombreCliente);
                if (cedulaCliente) url.searchParams.append('cedula_cliente', cedulaCliente);
        
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            if (data.error.includes('inactiva')) {
                                alert('La reserva está inactiva. No se pueden consultar los datos.');
                            } else {
                                alert(data.error);  
                            }
                        } else {
                            document.getElementById('nombre-cliente').value = data.nombre_cliente;
                            document.getElementById('cedula-cliente').value = data.cedula;
                            document.getElementById('cantidad-personas').value = data.cantidad_personas;
                            document.getElementById('cantidad-habitaciones-consulta').value = data.cantidad_habitaciones_reservar;
                            document.getElementById('tipo-habitacion-consulta').value = data.tipo_habitacion;
                            document.getElementById('numero-habitaciones-consulta').value = data.numero_habitaciones_asignadas;
                            document.getElementById('fecha-entrada').value = data.fecha_entrada;
                            document.getElementById('fecha-salida').value = data.fecha_salida;
                            document.getElementById('total-pago').value = data.total_pago;
                        }
                    })
                    .catch(error => {
                    });
            }
        
            nombreInput.addEventListener('keydown', (event) => {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    consultarReserva();
                }
            });
        
            cedulaInput.addEventListener('keydown', (event) => {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    consultarReserva();
                }
            });
        });
        
        </script>
        


   <!-- Para cancelar -->
        <script>
            document.getElementById('cancelar').addEventListener('click', function() {
                const nombreCliente = document.getElementById('nombre-cliente').value;
                const fechaSalida = document.getElementById('fecha-salida').value;
            
                if (nombreCliente && fechaSalida) {
                    const formData = new FormData();
                    formData.append('nombre_cliente', nombreCliente);
                    formData.append('fecha_salida', fechaSalida);
            
                    fetch("{% url 'cancelar_reserva' %}", {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'inactiva') {
                            alert(data.mensaje);  
                        } else if (data.status === 'no_reserva') {
                            alert(data.mensaje);  
                            document.getElementById('reserva-form').reset();
                            document.getElementById('consulta-habitaciones-form').reset();
                        }
                        
                        location.reload(); 
                    })
                    .catch(error => {
                 
                    });
                } else {
                    location.reload();  
                }
            });
            
        </script>
        
        


            <!-- Para Las fechas  -->
        <script>
            document.getElementById('guardar').addEventListener('click', function(event) {
                event.preventDefault();  
                
                fetch("{% url 'updatesalida' %}", {
                    method: 'GET',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.actualizadas > 0) {
                        console.log(`${data.actualizadas} reservas actualizadas a 'Inactiva'`);
                    } else {
                        console.log("No hay reservas para actualizar");
                    }
        
                    location.reload();  
                })
                .catch(error => console.error("Error:", error));
            });
            
        </script>
    


</body>    
</html>
